# Representativeness of Data Lab

### Introduction

In this lesson, let's use some of what we know about the representativeness of our dataset to explore a movie dataset.  

You can see the kind of information we have about a movie here.

In [2]:
import pandas as pd

movies_df = pd.read_csv("https://raw.githubusercontent.com/jigsawlabs-student/tech-interview/main/movies.csv")

In [3]:
movies_df[:2]

,title,genre,budget,runtime,year,month,revenue
0,Oliver Twist,Crime,50000000,130.0,2005,9,42093706
1,X-Men: Apocalypse,Science Fiction,178000000,144.0,2016,5,543934787

Ok, so assume as a goal, that that we would like to see how items like a genre or budget impact the income of a movie made today.  Before we do so, we want to *examine our dataset to see how representative it may would be of movies made today*. 

Then, use that information to select the portion of the data you believe is high enough quality and representative enough to draw conclusions from.

So what's our task in this lab:

1. Explore the data to see the representativeness of the data
2. Select the portion of the data that is more representative

This will be a little different in that it is more freeform than other labs.

### Before getting started

As a way to review, let's remember that there were a few different ways that we checked our data:

1. Comparing groups of our data to what we see in the real world
2. Checking how recent our data is
3. Looking at distributions and outliers in our data 
4. Looking at missing values in our data (with isna)
5. Remember variables that are important are: 
    * The target variable (as the whole point is to see what leads to changes in this variable, here revenue) 
    * Dates (as the more recent the data the more valuable it representative it typically is of present day)

After exploring the quality of our (imperfect) data, make a determination as to how we might still make use of our data to determine how items like genre, or budget might impact the revenue.

### Exploring our data

Ok, so here's the dataset.

In [4]:
movies_df[:2]

,title,genre,budget,runtime,year,month,revenue
0,Oliver Twist,Crime,50000000,130.0,2005,9,42093706
1,X-Men: Apocalypse,Science Fiction,178000000,144.0,2016,5,543934787