# Exploring Data challenge

### Loading our data

In this lesson, we'll build up our library by using ecommerce sales data.  Let's get started by loading our data.

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/analytics-engineering-jigsaw/data-visualization/main/2-storytelling/1-what-to-focus-on/sales_data.csv"
# url = "./sales_data.csv"
df = pd.read_csv(url, index_col = 0)
df[:2]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,295665,Macbook Pro Laptop,1,1700.0,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.0,New York City,0
1,295666,LG Washing Machine,1,600.0,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.0,New York City,7

In this lesson, we'll work through some common methods for exploring our data.  Essentially, a good way to explore our data is with grouping our data by different features (ie columns).  

So let's do that in this dataset, by aggregating our revenue by product.

* Total rev per product

> Begin by writing code that returns the average revenue of each product.  You can use the `Price Each` column for this -- sort from most to least avg revenue.

In [3]:
# total revenue per product

top_products = df.groupby(['Product'])['Price Each'].agg(['sum']).sort_values('sum', ascending = False)
top_products[:3]

# 	sum
# Product	
# Macbook Pro Laptop	8030800.00
# iPhone	4789400.00
# ThinkPad Laptop	4127958.72

                           sum
Product
Macbook Pro Laptop  8030800.00
iPhone              4789400.00
ThinkPad Laptop     4127958.72

* Avg pct of total per product

> Then return the average *percent* of total revenue per product.

In [34]:
pct = top_products['sum']/top_products['sum'].sum()
pct[:3]

# Product
# Macbook Pro Laptop    0.234208
# iPhone                0.139677
# ThinkPad Laptop       0.120387
# Name: sum, dtype: float64

Product
Macbook Pro Laptop    0.234208
iPhone                0.139677
ThinkPad Laptop       0.120387
Name: sum, dtype: float64

And from here, calculate a running total of the percent of revenue of each product:

In [36]:
cum_pct = top_products['sum'].cumsum()/top_products['sum'].sum()
cum_pct[:3]

# Product
# Macbook Pro Laptop    0.234208
# iPhone                0.373885
# ThinkPad Laptop       0.494272
# Name: sum, dtype: float64

Product
Macbook Pro Laptop    0.234208
iPhone                0.373885
ThinkPad Laptop       0.494272
Name: sum, dtype: float64

### Resources

[Sales Product Data](https://www.kaggle.com/datasets/knightbearr/sales-product-data)

[Unit Economics](https://www.paddle.com/resources/unit-economics)

[Olist Dataset Multitables](https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce)