# Olist exploring data lab

### Introduction

Now that we have cleaned and selected our data, the next step is to explore it.

### Loading our data

First we'll load up the data.

In [ ]:
# !pip3 install s3fs

In [1]:
import pandas as pd
url = "s3://jigsaw-labs-student/olist-data/olist_2017_2018.csv"
selected_df = pd.read_csv(url)

In [2]:
selected_df[:2]

,customer_zip_code_prefix,customer_city,customer_state,product_category_name,order_id,customer_id,product_id,price,purchase_timeYear,purchase_timeMonth,purchase_timeWeek,purchase_timeDay,purchase_timeDayofweek,purchase_timeDayofyear,purchase_timeElapsed
0,3149,sao paulo,SP,utilidades_domesticas,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,87285b34884572647811a353c7ac498a,29.99,2017,10,40,2,0,275,1506941793
1,88032,florianopolis,SC,utilidades_domesticas,bfc39df4f36c3693ff3b63fcbea9e90a,53904ddbea91e1e92b2b3f1d09a7af86,87285b34884572647811a353c7ac498a,29.99,2017,10,43,23,0,296,1508801206

And we also recommend grouping the columns into different lists (this way we don't have to print all of our columns at once).

In [3]:
target_cols = 'price'

id_cols = ['order_id', 'customer_id', 'product_id']
geo_cols = ['customer_zip_code_prefix']
customer_cols = ['customer_city', 'customer_state']
product_cols = ['product_category_name']
purchase_time_cols = ['purchase_timeYear', 'purchase_timeMonth', 'purchase_timeWeek',
       'purchase_timeDay', 'purchase_timeDayofweek', 'purchase_timeDayofyear',
       'purchase_timeElapsed']

### Exploring the data

Below, with the 80 - 20 principle in mind, explore different dimensions of the data.  And dig deeper where necessary.