# Styling Plotly Line Charts

### Introduction

In this lesson we'll move onto styling plotly line charts.  Let's get started.

### Loading our data

In [4]:
import pandas as pd
sales_df = pd.read_csv('./sales_data.csv', index_col = 0)
sales_df[:3]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18

In [25]:
day_of_month = pd.to_datetime(sales_df['Order Date']).dt.day
sales = sales_df['Sales']

df = pd.DataFrame({'day_of_month': day_of_month, 'sales': sales})
idx = df.groupby('day_of_month').sum().index
total_sales = df.groupby('day_of_month').sum()['sales']
day_of_month = idx

In [52]:
products = ['Macbook Pro Laptop', 'iPhone', 'ThinkPad Laptop', 'Google Phone', '27in 4K Gaming Monitor', '34in Ultrawide Monitor', 'Apple Airpods Headphones', 'Flatscreen TV', 'Bose SoundSport Headphones', '27in FHD Monitor']
sales = [8037600.0, 4794300.0, 4129958.7, 3319200.0, 2435097.56, 2355558.01, 2349150.0, 1445700.0, 1345565.43, 1132424.5]

### Time Comparisons - Line Chart

The last chart is the line chart -- which is for showing changes in data over time.

<img src="./classic-line-chart.png" width="40%">

The chart above is properly styled.  Notice that we are showing the difference between the past data and the projected data (although that projection looks optimistic).  And that we are doing so both with the shading and the dashed line.

Below is another line chart -- which shows the revenue of one company -- Company A -- against each of the competitors.  Beccause it's difficult to keep track of all of that information, underneath the chart is broken into smaller components -- with each competitor given a separate breakout chart (or you could just break out the most interesting of the competitors).

<img src="./spaghetti.png" width="40%">

<img src="./untangled.png" width="40%">

### Summary

In this lesson, we saw how to display our different kinds of comparisons.  There were a couple of takeaways:
    
* Don't use pie charts -- even when working with percentages.  
* Most often, you can stick with horizontal bar charts, which make it easy to compare groups, and also provide for labeling.
    * Just remember to be careful about how you choose those groups
* A column chart is ok when the data is sequential (as in revenue per year)
* And a line chart is typically used for showing change over time

### Resources

[Sales Sample Data](https://www.kaggle.com/datasets/kyanyoga/sample-sales-data)

[Supermarket Sales](https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales)

[Plotly Shapes](https://plotly.com/python/horizontal-vertical-shapes/)

[Plotly Annotations](https://plotly.com/python/text-and-annotations/)